/*
Theme Name: capc
Author: indra.darsini@gmail.com
*/
body {
	font-size: 16px;
	background-color: #048d85;
	line-height: 1.75;
}
h1, h3 {
	font-family: Oswald;
	line-height: 1.75
}
h1 {
	color: #E74504;
}
h3, h3 a {
	color: #008080;
}
.page-wrapper {
	margin: 0 auto;
	background-color: #fdfbf2;
}
.capc-top-bar {
	margin-top: 10px;
}
.navbar-capc {
	background-color: #ffffff;
	border: 0;
	border-radius: 0;
	margin-bottom: 0;
}
.navbar-capc .navbar-brand {
	height: 110px;
	padding: 5px;
}
.navbar-capc .navbar-brand img {
	height: 100px;
}
.navbar-capc .navbar-toggle {
	margin: 0;
	border: 0;
	padding: 15px;
	border-radius: 0;
}
.navbar-capc .nav-lead {
	font-size: 22px;
    font-family: Oswald;
    text-align: center;
    margin: 15px 0;
}
.navbar-capc .nav-lead a {
	color: #048d85;
	text-decoration: underline;
	font-size: 30px;
	text-transform: uppercase;
}
.navbar-capc .nav-lead img {
	max-width: 100%;
}
.navbar-capc .navbar-collapse {
	border: 0;
}
.navbar-capc .navbar-collapse .in {
	background-color: #ffffff;
}
.navbar-capc .navbar-toggle .icon-bar {
	background-color: #048d85;
}
.navbar-capc .navbar-toggle:hover .icon-bar,
.navbar-capc .navbar-toggle:active .icon-bar,
.navbar-capc .navbar-toggle:focus .icon-bar {
	background-color: #ffffff;
}
.navbar-capc .navbar-toggle:hover,
.navbar-capc .navbar-toggle:active,
.navbar-capc .navbar-toggle:focus {
	background-color: #048d85;
}
.capc-sub-menu {
	list-style: none;
}
.capc-sub-menu > li > a {
    padding: 7.5px 0;
    display: block;
    color: #777777;
}
.capc-sub-menu > li > a:hover,
.capc-sub-menu > li > a:focus,
.capc-sub-menu > li > a:active {
	color: #000000;
	text-decoration: none;
}
.capc-footer {
	text-align: center;
}
.capc-footer-links {
	list-style: none;
	margin: 15px 0;
	padding: 0;
}
.capc-footer-links > li {
	display: inline-block;
	padding: 15px;
}
.capc-success-stories-sidebar img {
	max-width: 150px;
	height: auto !important;
	float: left;
	margin-right: 15px;
}
.capc-footer-social-links > a > img {
	width: 50px;
}
.navbar-capc .navbar-nav li  a {
	color: #048d85;
	font-size: 14px;
	text-transform: uppercase;
	font-family: Oswald
}
.navbar-capc .navbar-nav > li:last-of-type > a {
	color: #ff5252;
}
.capc-home-features img {
	max-width: 100%;
	display: block;
}
.capc-button {
	background-color: #048d85;
	color: #ffffff;
	text-transform: uppercase;
	font-family: Oswald;
	padding: 10px 15px;
	display: inline-block;
	cursor: pointer;
	border: 0
}
.capc-button:hover,
.capc-button:focus,
.capc-button:active {
	color: #000000;
	text-decoration: none;
}
.capc-button-blue {
	background-color: #0077B5;
}
.capc-button-red {
	background-color: #ff5252;
}
.capc-button-gold {
	background-color: #ffbf00;
}
.capc-button-donate {
	font-size: 30px;
	width: 300px;
	text-align: center;
}
.capc-image {
	max-width: 100%;
	margin-bottom: 15px;
	display: block;
}
.capc-video {
	float: none;
	clear: both;
	width: 100%;
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 25px;
	height: 0;
}
.capc-video iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 0
}
#google_translate {
	width: 100%;
	height: 55px;
}
.navbar-capc #search-form {
	margin-bottom: 15px;
}
.navbar-capc #search-button {
	border-color: #048d85;
}
.navbar-tagline {
	font-style: italic;
	font-size: 20px;
	color: #048d85;
	margin: 0 -15px;
}
.capc-table {
	font-size: 12px;
}
.capc-table-center td {
	text-align: center;
}
.capc-board-members {
	text-align: center;
}
.capc-board-member {
	margin: 15px 0;
	vertical-align: top;
}
.capc-proclamations a {
	margin-right: 15px;
	margin-bottom: 20px;
	vertical-align: top;
}
h2.tribe-events-page-title {
	visibility: hidden;
}
.tribe-events-schedule h2 {
	font-weight: 500;
}
.single-tribe_events #tribe-events-footer {
	border: 0;
	padding: 0;
}
.capc-donate-tile {
	position: relative;
	height: 250px;
	background-color: #ffffff;
	vertical-align: middle;
	display: block;
	overflow-y: auto;
	margin-bottom: 15px;
	border: 1px solid #efefef;
}
.capc-donate-image {
	text-align: center;
	line-height: 250px;
	max-width: 100%;
	max-height: 250px;
}
.capc-donate-text {
	display: none;
	position: absolute;
	padding: 5px 15px;
	height: 100%;
}
.capc-donate-tile:hover .capc-donate-text,
.capc-donate-tile:focus .capc-donate-text {
	color: #000000;
	display: block;
	background: rgba(255,255,255,0.9);
}
.capc-map {
	width: 100%;
	height: 300px;
	border: 0;
}
.capc-news-categories {
	list-style: none;
	padding-left: 0;
}
.capc-news-categories > li {
	display: inline-block;
	margin-right: 15px;
}
.capc-news-media img {
	max-width: 100%;
	height: auto;
}
.capc-home-slider {
		margin: 0 -15px;
}
.google_translate_element {
	display: none;
}
@media(min-width: 768px) {
	.page-wrapper {
			max-width: 90%;
			margin-top: 40px;
	}
	.navbar-capc {
		padding: 15px 0 0 15px;
	}
	.capc-top-bar {
		margin-top: 0;
		position: absolute;
		top: -37px;
		right: 0;
	}
	#search-form {
		float: right;
		display: inline-block;
		margin-bottom: 0 !important;
	}
	#translate-form {
		float: right;
		display: inline-block;
		margin-right: 5px;
		vertical-align: top;
	}
	.capc-site {
		padding: 0 35px;
	}
	.navbar-capc .navbar-brand {
		height: 175px;
		padding: 0
	}
	.navbar-capc .navbar-brand img {
		height: 175px;
	}
	.navbar-capc .navbar-nav {
		position: absolute;
		top: 15px;
		right: 15px;
	}
	.navbar-capc .navbar-nav > li {
		position: relative;
	}
	.navbar-capc .navbar-nav li  a {
		font-size: 20px;
	}
	.navbar-capc .navbar-nav > li:last-of-type > a {
		color: #ffffff;
		background-color: #ff5252;
	}
	.navbar-capc .navbar-secondary {
		position: absolute;
		right: 30px;
		bottom: 20px;
	}
	.navbar-capc #search-form {
		width: 200px;
	}
	.navbar-capc .form-control {
		box-shadow: none;
		border-color: #048d85;
	}
	.navbar-tagline {
		font-size: 24px
	}
	#google_translate {
		width: 200px;
	}
	.capc-sub-menu {
		display: none;
		position: absolute;
		top: 50px;
		left: 15px;
		z-index: 3;
		background-color: #ffffff;
		border: 1px solid #048d85;
		padding: 5px 15px;
		width: 300px;
	}
	.navbar-capc .navbar-nav > li:hover > a,
	.capc-sub-menu > li:hover > a {
		color: #000000 !important;
	}
	.capc-sub-menu > li > a {
		font-size: 14px !important;
	}
	li:hover > .capc-sub-menu {
		display: block;
	}
	.navbar-capc .navbar-nav > li:nth-last-child(1) .capc-sub-menu,
	.navbar-capc .navbar-nav > li:nth-last-child(2) .capc-sub-menu {
		left: auto;
		right: 0;
	}
	.capc-success-stories-sidebar img {
		max-width: 100%;
		margin-right: 0;
		float: none;
	}
	.capc-home-features h3 {
		height: 50px;
	}
	.capc-home-features img {
		max-width: 150px;
		margin-right: 15px;
		float: left;
	}
	.capc-image-right {
		float: right;
		margin-left: 15px;
	}
	.pull-right-sm {
		float: right;
	}
	.pull-left-sm {
		float: left;
	}
	.capc-table {
		font-size: 16px;
		padding: 15px;
	}
	.capc-board-members {
		width: 500px;
		margin: 0 auto;
	}
	.capc-board-member {
		display: inline-block;
		width: 225px;
	}
	.capc-board-member:nth-child(odd) {
		margin-right: 15px;
	}
	.capc-board-member:nth-child(even) {
		margin-left: 15px;
	}
	.capc-proclamations {
		width: 500px;
	}
	.capc-proclamations a {
		display: inline-block;
	}
	.capc-footer-help {
		color: #ffffff;
		margin: 15px 0;
	}
	.capc-news-media {
		padding-top: 24px;
	}
	.capc-news-categories > li {
		display: list-item;
	}
	.capc-page-content {
		padding-right: 25px;
	}
	.capc-page-sidebar {
		padding-left: 25px;
	}
	.capc-home-slider {
			margin: 0 -50px;
	}
}
@media (max-width: 950px) and (min-width: 768px) {
	.navbar-capc .navbar-nav > li > a {
		padding: 10px;
		font-size: 18px;
	}
	.navbar-tagline {
		font-size: 20px;
	}
}
.capc-header-widget {
    position: absolute;
    top: 44px;
    right: 15px;
		text-align: right;
}
.capc-header-widget > h3 {
	margin: 0
}
@media (min-width: 768px) {
	.capc-header-widget {
			top: 70px;
	}
}
